.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11000000;
  transform: translateX(-50%);
  left: 50%;
  -webkit-box-shadow: 0px 9px 29px -1px rgba(197, 197, 221, 0.25);
  -moz-box-shadow: 0px 9px 29px -1px rgba(197, 197, 221, 0.25);
  box-shadow: 0px 9px 29px -1px rgba(197, 197, 221, 0.25);
}